.experience_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
  margin: 30px 0;
}
.experience_title {
  margin: 20px;
}
.job_list {
  width: 60%;
  height:500px;
}
.job_list_item {
  background: #f5cb5c;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
  padding: 5px 15px;
}
.job_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job_content {
 
  max-height: 0;
  overflow: hidden;

  transition : all 1s cubic-bezier(0,1,0,1)

}

.job_content_show{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:300px;
  max-height:500px;
  transition : all 2s cubic-bezier(0,1,0,1)
}

.job_location {
  display: flex;
  margin-bottom: 10px;
}
.job_text {
  white-space: pre-line;
  line-height: 25px;
}
.job_badges_list {
  display: flex;
  list-style: none;
  margin: 10px 0;
}
.job_badge {
  background: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  font-size: 10px;
  margin-right: 5px;
}
