.experience_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  height: 90vh;
  font-family: "Space mono", sans-serif;
}
.experience_title {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
}
.project_svg {
  height: 100px;
  width: 100px;
  margin-right: 30px;
  overflow: visible;
}
.job_list {
  width: 60%;
  height: 500px;
  font-size: 20px;
}
.job_list_item {
  background: #567189;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
  padding: 5px 15px;
}
.job_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid white;
  margin-top: 10px;
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;

  position: relative;
}
.job_title_content {
  color: white;
  font-size: 40px;
}
.job_title_bullet {
  display: flex;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
}
.job_title_date {
  display: flex;
  position: absolute;
  color: white;
  top: 0;
  right: 0;
}
.job_content {
  max-height: 0;
  overflow: hidden;

  transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.job_content_show {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  max-height: 500px;
  transition: all 2s cubic-bezier(0, 1, 0, 1);
}

.job_location {
  display: flex;
  margin-bottom: 10px;
}
.job_text {
  white-space: pre-line;
  line-height: 25px;
  background: white;
  border-radius: 10px;
  padding: 10px;
}
.job_badges_list {
  display: flex;
  list-style: none;
  margin: 10px 0;
}
.job_badge {
  background: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  margin-right: 5px;
}

@media (max-width: 50em) {
  .experience_title {
    font-size: 50px;
  }
  .job_list {
    width: 90%;
  }
  .job_text {
    font-size: 12px;
  }
  .job_content {
  }
  .job_title_content {
    font-size: 22px;
    width: 90%;
  }
  .job_title_date,
  .job_title_bullet {
    font-size: 12px;
  }
  .job_content_show {
    height: auto;
  }
  .job_location {
    font-size: 12px;
  }
  .job_badges_list {
    flex-wrap: wrap;
  }
  .job_badge {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .job_badges_list {
  }
}
